# dependencies
/node_modules
/api/node_modules

# production
/.next
/out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and editor junk
.DS_Store
Thumbs.db

# dotenv environment variables
.env*
.env
!.env.example

# typescript
*.tsbuildinfo

# vercel & netlify
.vercel
.netlify

# firebase cache (if using firebase emulators)
.firebase/

# local build
/build

# misc
*.log
.cache/
